[build]
  command = "pnpm install && pnpm run build:client"
  functions = "netlify/functions"
  publish = "dist/spa"

[build.environment]
  NODE_ENV = "production"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
